<div class='mt-4'>
    <div class='row'>
        <div class='col-lg-3'>
            <button>Há»c ngay</button>
            <ul>
                <li>{{course.level}}</li>
            </ul>
        </div>
        <div class='col-lg-9'>
            <h2>{{course.name}}</h2>
            <iframe
                width='982'
                height='552'
                src='https://www.youtube.com/embed/{{course.videoId}}'
                title='[CRUD] Create new course'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                allowfullscreen
            ></iframe>
            <p>{{course.desc}}</p>
        </div>
    </div>
</div>